USE [master]
GO
/****** Object:  Database [TRANSPORTE]    Script Date: 08/11/2020 23:55:25 ******/
CREATE DATABASE [TRANSPORTE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRANSPORTE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TRANSPORTE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TRANSPORTE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TRANSPORTE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRANSPORTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRANSPORTE]
GO
/****** Object:  Table [dbo].[AUTOBUSES]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOBUSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCHOFER] [int] NULL,
	[MARCA] [varchar](30) NOT NULL,
	[MODELO] [varchar](30) NOT NULL,
	[PLACA] [varchar](30) NOT NULL,
	[COLOR] [varchar](30) NULL,
	[ANO] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHOFERES]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHOFERES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[APELLIDO] [varchar](30) NOT NULL,
	[CEDULA] [nvarchar](30) NOT NULL,
	[FECHA_NACIMIENTO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUTAS]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGORUTA]  AS ('R'+right('00'+CONVERT([varchar],[ID]),(2))),
	[IDAUTOBUS] [int] NULL,
	[NOMBRE] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUTOBUSES]  WITH CHECK ADD FOREIGN KEY([IDCHOFER])
REFERENCES [dbo].[CHOFERES] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RUTAS]  WITH CHECK ADD FOREIGN KEY([IDAUTOBUS])
REFERENCES [dbo].[AUTOBUSES] ([ID])
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[LISTARAUTOBUSES]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTARAUTOBUSES]
@like varchar(30)
AS
SELECT AUTOBUSES.ID, CHOFERES.NOMBRE, AUTOBUSES.MARCA, AUTOBUSES.MODELO, AUTOBUSES.PLACA, AUTOBUSES.COLOR,AUTOBUSES.ANO FROM AUTOBUSES INNER JOIN CHOFERES ON AUTOBUSES.IDCHOFER = CHOFERES.ID WHERE CHOFERES.NOMBRE LIKE  @like + '%'
GO
/****** Object:  StoredProcedure [dbo].[LISTARAUTOBUSESYRUTAS]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTARAUTOBUSESYRUTAS]
@like varchar(30)
AS
SELECT RUTAS.ID, RUTAS.CODIGORUTA, AUTOBUSES.PLACA, RUTAS.NOMBRE
FROM RUTAS INNER JOIN AUTOBUSES ON RUTAS.IDAUTOBUS = AUTOBUSES.ID WHERE RUTAS.NOMBRE LIKE @like + '%'
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCARAUTOBUS]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCARAUTOBUS]
@BUSCAR VARCHAR(30)
AS
SELECT * FROM AUTOBUSES
WHERE MARCA LIKE @BUSCAR + '%' OR MODELO LIKE @BUSCAR + '%' OR PLACA LIKE @BUSCAR + '%'
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCARCHOFER]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCARCHOFER]
@BUSCAR VARCHAR(30)
AS
SELECT * FROM CHOFERES
WHERE NOMBRE LIKE @BUSCAR + '%'
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCARRUTA]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCARRUTA]
@BUSCAR VARCHAR(30)
AS
SELECT * FROM RUTAS
WHERE CODIGORUTA LIKE @BUSCAR + '%' OR NOMBRE LIKE @BUSCAR + '%'
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITARAUTOBUS]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*STORE PROCEDURE EDITAR AUTOBUS*/
CREATE PROC [dbo].[SP_EDITARAUTOBUS]
@ID INT,
@IDCHOFER INT,
@MARCA VARCHAR(30) ,
@MODELO VARCHAR(30) ,
@PLACA VARCHAR(30) ,
@COLOR VARCHAR(30) ,
@ANO VARCHAR(30)
AS
UPDATE AUTOBUSES SET IDCHOFER = @IDCHOFER, MARCA = @MARCA, MODELO = @MODELO, PLACA = @PLACA, COLOR = @COLOR, ANO = @ANO WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITARCHOFER]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*STORE PROCEDURE EDITAR CHOFER*/
CREATE PROC [dbo].[SP_EDITARCHOFER]
@ID INT,
@NOMBRE VARCHAR(30),
@APELLIDO VARCHAR(30), 
@CEDULA NVARCHAR(30),
@FECHA_NACIMIENTO DATE
AS
UPDATE CHOFERES SET NOMBRE = @NOMBRE, APELLIDO = @APELLIDO, CEDULA = @CEDULA, FECHA_NACIMIENTO = @FECHA_NACIMIENTO WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITARRUTA]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*STORE PROCEDURE EDITAR RUTA*/
CREATE PROC [dbo].[SP_EDITARRUTA]
@ID INT,
@IDAUTOBUS INT,
@NOMBRE VARCHAR(30)	
AS
UPDATE RUTAS SET IDAUTOBUS = @IDAUTOBUS, NOMBRE = @NOMBRE WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARAUTOBUS]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*STORE PROCEDURE ELIMINAR AUTOBUS*/
CREATE PROC [dbo].[SP_ELIMINARAUTOBUS]
@ID INT
AS
DELETE AUTOBUSES WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARCHOFER]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*STORE PROCEDURE ELIMINAR CHOFER*/
CREATE PROC [dbo].[SP_ELIMINARCHOFER]
@ID INT
AS
DELETE CHOFERES WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARRUTA]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*STORE PROCEDURE ELIMINAR AUTOBUS*/
CREATE PROC [dbo].[SP_ELIMINARRUTA]
@ID INT
AS
DELETE RUTAS WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDARAUTOBUS]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GUARDARAUTOBUS]
@IDCHOFER INT,
@MARCA VARCHAR(30) ,
@MODELO VARCHAR(30) ,
@PLACA VARCHAR(30) ,
@COLOR VARCHAR(30) ,
@ANO VARCHAR(30)
AS
INSERT INTO AUTOBUSES VALUES(@IDCHOFER,@MARCA,@MODELO,@PLACA,@COLOR,@ANO)
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDARCHOFER]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GUARDARCHOFER]
@NOMBRE VARCHAR(30),
@APELLIDO VARCHAR(30), 
@CEDULA NVARCHAR(30),
@FECHA_NACIMIENTO DATE
AS
INSERT INTO CHOFERES VALUES(@NOMBRE,@APELLIDO,@CEDULA,@FECHA_NACIMIENTO)
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDARRUTA]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GUARDARRUTA]
@IDAUTOBUS INT,
@NOMBRE VARCHAR(30)	
AS
INSERT INTO RUTAS VALUES(@IDAUTOBUS,@NOMBRE)
GO
/****** Object:  StoredProcedure [dbo].[TRAERTODOS]    Script Date: 08/11/2020 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TRAERTODOS]
AS
SELECT RUTAS.NOMBRE AS RUTA, AUTOBUSES.PLACA AS AUTOBUS, CHOFERES.NOMBRE AS CHOFER from RUTAS INNER JOIN AUTOBUSES ON RUTAS.IDAUTOBUS = AUTOBUSES.ID 
INNER JOIN CHOFERES ON AUTOBUSES.IDCHOFER = CHOFERES.ID ORDER BY RUTAS.ID ASC
GO
USE [master]
GO
